.sticky-main-container{
    display: flex;
    padding: 0 50px;
    border-bottom: 1px solid #727272;
    gap: 20px;
    position: relative;
}

.sticky-left-section{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 10px;
}

.sticky-right-section{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: max-content;
    max-height: max-content;

    gap: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow: hidden;
}